html, body{

    font-size: 18px;
    padding: 0;
    color: black;
    font-family: "Informal Roman", cursive, sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
}

.bil-table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders merge */
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Light background for the table */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}


table{
    text-align: left;
    border-collapse:collapse;
    margin-top: 40%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 32px;
    color: #333;
}
h2 {
    font-size: 28px;
    color: #555;
}

h3{
    font-size: 22px;
    color: #333333;
}

.delete-customer-button{
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.delete-customer-button:hover{
    transform: scale(1.1); /* Slightly increase size on hover */
    background-color: darkred;
}