<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/kundeCSS.css">
    <title>Kunder</title>
</head>
<body>
<h1 class="kunde-h1">Alle kunder</h1>

<div class="back-button-container">
    <a href="/" class="back-button">← Back to Home</a>
</div>

<a th:href="@{/nyKunde}" class="tilføj-kunde">Tilføj ny kunde</a>



<div th:if="${registreret}" style="color: green;">
    <p th:text="${registreret}"></p>
</div>
<!-- Success message -->
<div th:if="${registreret}" class="success-message">
    <p th:text="${registreret}"></p>
</div>

<!-- Error message -->
<div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
</div>

<table class="kunde-table">
    <thead>
    <tr>
        <th>Telefonnummer</th>
        <th>Email</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Adresse</th>
        <th>Postnummer</th>
        <th>By</th>
        <th>Kørekortnummer</th>
        <th>Udstedelsesdato</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kunde: ${kunder}">
        <td th:text="${kunde.telefonnummer}"></td>
        <td th:text="${kunde.email}"></td>
        <td th:text="${kunde.fornavn}"></td>
        <td th:text="${kunde.efternavn}"></td>
        <td th:text="${kunde.adresse}"></td>
        <td th:text="${kunde.postnummer}"></td>
        <td th:text="${kunde.byen}"></td>
        <td th:text="${kunde.koerekortnummer}"></td>
        <td th:text="${kunde.udstedelsdato}"></td>
        <td class="slet-kunde">
            <form th:action="@{/sletKunde}" method="post">
                <input type="hidden" name="telefonnummer" th:value="${kunde.telefonnummer}">
                <button type="submit" class="slet-kunde-knap">Slet kunde</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>