<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kunder</title>
</head>
<body>
<h1 class="kunde-h1">Alle kunder</h1>
<a th:href="@{/nyKunde}" class="tilføj-kunde">Tilføj ny kynde</a>

<div th:if="${successMessage}" style="color: green; margin-bottom: 10px;">
    <p th:text="${successMessage}"></p>
</div>

<!-- Error message -->
<div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
    <p th:text="${errorMessage}"></p>
</div>

<table class="kunde-table">
    <thead>
    <tr>
        <th>Telefonnummer</th>
        <th>Email</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Adresse</th>
        <th>Postnummer</th>
        <th>By</th>
        <th>Kørekortnummer</th>
        <th>Udstedelsesdato</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kunde: ${kunder}">
        <td th:text="${kunde.telefonnummer}"></td>
        <td th:text="${kunde.email}"></td>
        <td th:text="${kunde.fornavn}"></td>
        <td th:text="${kunde.efternavn}"></td>
        <td th:text="${kunde.adresse}"></td>
        <td th:text="${kunde.postnummer}"></td>
        <td th:text="${kunde.byen}"></td>
        <td th:text="${kunde.koerekortnummer}"></td>
        <td th:text="${kunde.udstedelsdato}"></td>
        <td class="slet-kunde">
            <form th:action="@{/sletKunde}" method="post">
                <input type="hidden" name="telefonnummer" th:value="${kunde.telefonnummer}">
                <button type="submit" class="slet-kunde-knap">Slet kunde</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>