<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="MyCSS.css">
    <title>Top Lejede Bil Modeller</title>
</head>
<body>
<h1 class="top-lejede-biler-overskrift">Dette er top lejedeModeller siden</h1>

<!-- Side navigation bar -->
<div class="side-nav">
    <!-- Logo -->
    <div class="nav-logo">
        <img src="/Billeder/BILABONNEMENT.png" alt="Logo">
    </div>

    <!-- Navigation buttons -->
    <a th:href="@{/homeForretningsUdvikler}" class="nav-button">Tilbage til menu</a>

    <!-- Logout button -->
    <a th:href="@{/logUd}" class="nav-button logout-button">Log ud</a>
</div>

<div th:if="${ingenTopBil}" class="error-message">
    <p th:text="${ingenTopBil}"></p>
</div>


<div class="manage-options">

    <form th:action="@{/topLejedeModeller}" method="post">
        <label>Fra Dato: </label>
        <input type="date" name="fraDato" placeholder="Indtast start datoen" required>
        <br>
        <label>Til Dato: </label>
        <input type="date" name="tilDato" placeholder="Indtast slut datoen" required>
        <br>
        <div class="submit-top-bil">
            <button type="submit" class="vis-top-bil-knap">Vis den top model bil</button>
        </div>
        <br>

        <div th:if="${model != null}" class="vis-nummer-1-bil">
            <div class="top-bil-info">
                <p th:text="'Bil model: ' + ${model}"></p>
            </div>
            <div class="top-bil-info">
                <p th:text="'Bil mærke: ' + ${maerke}"></p>
            </div>
            <div class="top-bil-info">
                <p th:text="'Antal gange bilen er udlånt: ' + ${antalLånt}"></p>
            </div>
        </div>
    </form>
</div>

</body>
</html>