<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="MyCSS.css">
    <title>Top Lejede Bil Modeller</title>
</head>
<body>
<h1 class="top-lejede-biler-overskrift">Dette er top lejedeModeller siden</h1>

<!-- Side navigation bar -->
<div class="side-nav">
    <!-- Logo -->
    <div class="nav-logo">
        <img src="/Billeder/BILABONNEMENT.png" alt="Logo">
    </div>

    <!-- Navigation buttons -->
    <a th:href="@{/homeForretningsUdvikler}" class="nav-button">Tilbage til menu</a>

    <!-- Logout button -->
    <a th:href="@{/index}" class="nav-button logout-button">Log ud</a>
</div>

<div class="manage-options">

    <form th:action="@{/topLejedeModeller}" method="post">
        <label>Fra Dato: </label>
        <input type="date" name="fraDato" placeholder="Indtast start datoen">
        <br>
        <label>Til Dato: </label>
        <input type="date" name="tilDato" placeholder="Indtast slut datoen">
        <br>
        <button type="submit">Vis den top model bil</button>
        <br>

        <div>
            <strong th:text="${modelBil}"></strong>
        </div>
    </form>
</div>

</body>
</html>