<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Availability</title>
</head>
<body>

<!-- Car Availability Form -->
<h1>Se Ledige Biler</h1>
<form action="/bilTilgaengelig" method="post">
    <label for="startdato">Start dato:</label>
    <input type="date" id="startdato" name="startdato" required><br><br>

    <label for="slutdato">Slut Dato:</label>
    <input type="date" id="slutdato" name="slutdato" required><br><br>

    <button type="submit">Check tilgængelighed</button>
</form>



</body>
</html>
