<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ny lejekontrakt</title>
</head>
<body>
<h1 class="ny-lejekontrakt-h1">Indtast informationer for lejekontrakt</h1>

<form th:action="@{/tilføjKontrakt}" method="post">
    <input type="number" name="telefonnummer" placeholder="Telefonnummer" required min="10000000" max="99999999">
    <label>Vælg nummerplade</label>
    <select name="nummerplade" required>
        <option disabled selected>Vælg en nummerplade</option>
        <option th:each="nummerplade: ${nummerplader}"
        th:value="${nummerplade}"
        th:text="${nummerplade}"></option>
    </select>
    <label>Indtast start datoen for kontrakten</label>
    <input type="date" name="startdato" placeholder="Start dato" required>
    <label>Indtast slut datoen</label>
    <input type="date" name="slutdato" placeholder="Slut dato" required>
    <input type="number" name="maxKm" placeholder="maxKm" required>
    <input type="number" name="pris" placeholder="Pris" required>
    <button type="submit" class="tilføj-lejekontrakt-knap">Tilføj lejekontrakt</button>
</form>
</body>
</html>